* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.search-container {
  display: flex;
  overflow: hidden;
  background-color: #99d8f1;
  justify-content: center;
  height: 100px;
  padding: 10px;
  align-items: center;
}

.search-container input[type=text] {
  height: 40px;
  font-size: 17px;
  padding: 6px;
}

.search-container button{
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

.search-container button:hover {
  background: #ccc;
}

.all_skills {
margin: 34px;
display: flex;
justify-content: center;
align-items: center;
}



.skill {
  border: 2px solid brown;
  height: 250px;
  width: 350px;
  margin: 40px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right:30px ;
  border-radius: 28px;
}

.header {
  text-align: center;
  font-size: 20px;
  color: brown;
}

.body {
  text-align: center;
  font-size: 15px;
  color: brown;
}

.skill img {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}

template button {
  background-color: white;
  border: none;
}

button :hover{
  cursor: pointer;
}

.hide {
  display: none;
}









