* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p.one {
  word-spacing: 300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  height: 5px;
  background-color: #ffffff;
  color: rgb(1, 5, 105);
  text-align: center;
}

#blank {
  color:#ffffff;
}

#name {
  background-color: #c3d8ff;
  text-align: center;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  height: 100px;
  color: rgb(1, 5, 105);
  border-bottom: black;
}


.search-container {
  display: flex;
  overflow: hidden;
  background-color: #bbd1fa;
  justify-content: center;
  height: 100px;
  padding: 10px;
  align-items: center;
}

.search-container input[type=text] {
  height: 40px;
  font-size: 17px;
  padding: 6px;
  background-color: blue;
}

.search-container button{
  margin-left: 10px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
}

.search-container button:hover {
  background: #ffffff;
}





.skill {
  border: 2px solid rgb(118, 165, 254);
  height: 250px;
  width: 350px;
  margin: 40px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right:30px ;
  border-radius: 28px;
  background-color: rgb(255, 255, 255);
}

.header {
  text-align: center;
  font-size: 20px;
  color: rgb(1, 5, 105);
}

.body {
  text-align: center;
  font-size: 15px;
  color: rgb(1, 5, 105);
}

.skill img {
  width: 150px;
  height: 100px;
  margin: auto;
  display: block;
}

.schoolBTN {
  background-color: white;
  border: none;
  margin-left: 25px;
}

button :hover{
  cursor: pointer;
}

.hide {
  display: none;
}









