.input {
    font-size: large;
    font-variant:inherit;
    font-family: Courier
    }
#Info {
    background-color: white;
    margin-top: 9%;
    margin-left: 30%;
    width: 40%;
    border-style: solid;
    border-width: medium;
    border-radius: 10cqb;
    border-color: rgb(7, 80, 145);
    text-align: center
    }
body {
    background-color:rgb(148, 185, 255);
    }
.button {
    border-style:solid;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    font-family: Courier;
    font-variant: inherit;
    font-size: medium;
    }
h1 {
    font-variant: inherit;
    font-family: Courier;
    font-style:inherit;
    }
.text {
    font-variant: inherit;
    font-family: Courier;
    font-style: inherit;
    font-size: medium;
}

#name {
    background-color: #c3d8ff;
    text-align: center;
    font-size: 60px;
    font-family: Courier;
    color: rgb(1, 5, 105);
    border-bottom: black;
    margin-top: -46px;
    padding: 25px;
    font-weight: bold;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c3d8ff;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: rgb(1, 5, 105);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

  button:hover{
    cursor: pointer;
  }
  