.input {
    font-size: large;
    font-variant:inherit;
    font-family: Courier
    }
#Info {
    background-color: white;
    margin-top: 9%;
    margin-left: 30%;
    width: 40%;
    border-style: solid;
    border-width: medium;
    border-radius: 10cqb;
    border-color: rgb(7, 80, 145);
    text-align: center
    }
body {
    background-color:rgb(148, 185, 255);
    }
.button {
    border-style:solid;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    font-family: Courier;
    font-variant: inherit;
    font-size: medium;
    }
h1 {
    font-variant: inherit;
    font-family: Courier;
    font-style:inherit;
    }
.text {
    font-variant: inherit;
    font-family: Courier;
    font-style: inherit;
    font-size: medium;
}

#name {
    background-color: #c3d8ff;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: rgb(1, 5, 105);
    border-bottom: black;
    margin-top: -46px;
    padding: 25px;
    
  }