.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 250px;
}

body.dark .title h1{
    color: white;
}

body.dark .title{
    color: white;
}




.title h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
}

.title p {
    font-size: 1.5rem;
    color: #333;
    margin-top: -50px;
}

.intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, #005587 0%, #2774AE 100%);
    width: 100%;
    padding: 30px;
    color: white;
    line-height: 30px;
}

.introP{
    width: 400px;
}

.contactI {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 30px;
    color: #00598c;
    line-height: 30px;
}

body.dark .contactI{
    background-color: #333;
    color: white;
}

.teachers{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

.Principal{
    border-style: double;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 100px;
    border-radius: 50px;
    padding: 50px;
    background-color: #f0eee8;
}

body.dark .Principal{
    background-color: #0b2635;
    color: white;
}

body.dark .Vice-Principal{
    background-color: #0b2635;
    color: white;
}

body.dark .receptionist{
    background-color: #0b2635;
    color: white;
}

.Vice-Principal{
    border-style: double;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 100px;
    border-radius: 50px;
    padding: 50px;
    background-color: #f0eee8;
}

.receptionist{
    border-style: double;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    padding: 50px;
    background-color: #f0eee8;
}


.admission {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f0eee8;
    /*background-image: url(https://www.challengerschool.com/themes/challenger/assets/build/img/video_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 100%;
    padding: 30px;
    color: black;
    line-height: 30px;
}

body.dark .admission{
    background-color: #0b2635;
    color: white;
}

.admissionP{
    width: 400px;
}



.fee{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 30px;
    color: black;
    line-height: 30px;
}

body.dark .fee{
    background-color: #333;
    color: white;
}

.Fee{
    border-style: double;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 50px;
    background-color: #2774ae;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Ranking{
    border-style: double;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2774ae;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Address{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f0eee8;
    width: 100%;
    padding: 30px;
    color: #00598c;
    line-height: 30px;
}

body.dark .Address{
    background-color: #0b2635;
    color: white;
}

.addressP{
    width: 400px;
}

.notable_achievements{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(175deg, #0b2635 0%, #03272d 25%, #0f3955 50%, #255a6f 75%, #5170a0 100%);
    width: 100%;
    padding: 30px;
    color: white;
    line-height: 30px;
}

body.dark .notable_achievements{
    background: linear-gradient(180deg, #005587 0%, #2774AE 100%);
    color: white;
}

.notable_achievementsP{
    width: 400px;
}

  /*font-family: "Lato", sans-serif;*/


/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar li.search-box{
    background-color: var(--sidebar-color);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}























