.input {
    font-size: large;
    font-variant: small-caps;
    font-family: Courier
}
.sign-in {
    background-color: white;
    margin-top: 7%;
    margin-left: 30%;
    width: 40%;
    border-style: solid;
    border-width: medium;
    border-radius: 10cqb;
    border-color: rgb(7, 80, 145);
    text-align: center
}
body {
    background-color: rgb(148, 185, 255);
}
.button {
    border-style:solid;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    font-family: Courier;
    font-variant: small-caps;
    font-size: medium;
}
h1 {
    font-variant: small-caps;
    font-family: Courier;
    font-style:inherit;
}
.signin {
    font-variant: small-caps;
    font-family: Courier;
    font-style: inherit;
    font-size: medium;
}
.policy {
    font-variant: small-caps;
    font-family: Courier;
    font-style: inherit;
    font-size: small; 
}

#name {
    background-color: #c3d8ff;
    text-align: center;
    font-size: 60px;
    font-family: Courier;
    color: rgb(1, 5, 105);
    border-bottom: black;
    margin-top: -46px;
    padding: 25px;
    font-weight:bold;
  }